body
{
    font-family: 'Montserrat';
    margin: 0; /* Body has a default margin of 8px */
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    scroll-behavior: smooth;
}

#navArea
{
    width: 100%;
    padding-top: 0.5em;
    background-color: white;
    margin-bottom: 5em;
}

#MapImg1
{
    margin-right: 5%;
    margin-left: 5%;
}

#MapImg1, .UncleanedChild
{
    padding: 2em;
}

.ScreenshotCaption
{
    font-size: 12px;
}

#Img1
{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.LiveLink
{
    color: rgb(152, 5, 5);
    font-size: 12px;
}

h1
{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 14px;
    padding-bottom: 15px;
    font-weight: 600;
}

#Header
{
    margin-top: 4em;
    text-align: center;
    font-family: 'Montserrat';
}

#Credits
{
    font-size: 12px;
    font-weight: 600;
    color: rgb(152, 5, 5);
}

h2
{
    font-size: 25px;
    font-weight: 600;
}

#HeaderText
{
    font-size: 14px;
    font-weight: 400;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.5em;
}

#HrDivider
{
    margin-top: 4em;
    margin-bottom: 4em;
    width: 70%;
    border: 0.5px solid rgb(152, 5, 5);
    opacity: 20%;
}

#trafficLight
{
    width: 50%;
    min-width: 12em;
}

#IntroductionParent, #ImgParent, #UncleanedParent
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#UncleanedParent
{
    margin-top: 4em;
}

#IntroTextContainer
{
    width: 50%;
    margin-left: -15em;
}

#ImgParent
{
    text-align: center;
}

.IntroductionChild
{
    margin-right: 2em;
    margin-left: 2em;
}

h3, h4
{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat';
}

#img4
{
    width: 80%;
}

#IntroText
{
    font-size: 14px;
    line-height: 1.5em;
}

#BodyText
{
    margin-top: 4em;
    margin-bottom: 4em;
    padding-left: 10%;
    padding-right: 10%;
}

.TextContainer
{
   margin-top: 2em;
   margin-bottom: 2em;
}

.Paragraph
{
    text-align: justify;
}

footer
{
    margin-top: 8em;
}

.Interviewee
{
    width: 10em;
    margin-right: 5em;
    margin-left: 5em;
}

.IntName
{
    font-size: 12px;
    font-weight: 400;
}

#FooterHr
{
    width: 70%;
    margin-top: 7em;
    margin-bottom: 2em;
    border: 0.5px solid rgb(152, 5, 5);
    opacity: 20%;
}

#FooterTxt
{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;;
    color: rgb(152, 5, 5);
    margin-bottom: 5em;
    text-transform: uppercase;
}